@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+HK:wght@100..900&display=swap") * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Bree Serif", serif;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-signup {
  background-color: #f2f2f2cc;
  width: 514px;
  height: 714px;

  border-radius: 10px;

  font-family: "Noto Sans HK", sans-serif;
  font-weight: 500;
}

.logo-styles {
  width: 150px;
}

.signup-styles {
  font-size: 60px;
}

.button-styles {
  height: 100px;
}

.submit-button-styles {
  border: none;
  padding: 5px 8px 5px 8px;
}

@media (max-width: 720px) {
  .container-signup {
    width: 350px;
    height: 614px;
  }
  .logo-styles {
    width: 100px;
  }
  .signup-styles {
    font-size: 40px;
  }
}

@media (max-width: 390px) {
  .container-signup {
    width: 314px;
    height: 514px;
  }
  .logo-styles {
    width: 100px;
  }
  .signup-styles {
    font-size: 40px;
  }
}
